<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">courses</ion-title>
    </ion-toolbar>
  </ion-header>


  <div>
    <app-compartidos [titulo]="tituloBoton" (enviarLista)="recibirLista($event)"></app-compartidos>
    <div *ngFor="let item of ListaE">
      {{item.nombre}}
    </div> 
  </div>
  <ion-button (click)="navigateToStudentsPage()">Ir a Estudiantes</ion-button>
</ion-content>
